

* {
  box-sizing: border-box;
}

html {
    font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 80%;
}

body {
    align-items: center;
    background-color: #FFF9F9;
    grid-template-areas:
    "nav"
    "hero"
    "projects";
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 5rem;
    text-align: center;
}

main {
  align-content: center;
  margin: 0 auto;
  text-align: center;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
    padding: 5% 5%;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10rem;
}


button {
  background-color: #E35846;
  border: none;
  color: white;
  padding: 2rem 2.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: inconsolata;
  margin: 2rem auto;
  margin-bottom: 3rem;
}

img.logo{
  width: 4.5rem;
  justify-content: left;
}


}

.hero {
    padding: 20rem, 2rem;
}

.projects {
    margin: 0 10rem;
    padding: 20rem, 2rem;
}


header {
    display: flex;
    justify-content: center;
    background: white;
    border-style: solid;
    border-width: 0.5px;
    border-color: #E35846;
    padding: 0 auto;
    text-align: center;
}


article {
  text-align: center;
  align-content: center;
  padding: 2rem 0;
}

article img {
  border-style: solid;
  border-width: 0.5px;
  border-color: #1c1c1c;
  width: 80%;
}

.proj {
  background-color: white;
  border-style: solid;
  border-width: 0.5px;
  border-color: #E35846;
  margin: 2rem auto;
  padding-bottom: 5rem;
  padding-top: 1rem;
  text-align: center;
  width: 80%;
}



/* Typography */

h1 {
    color: #1c1c1c;
    font-family: lexend zetta;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.05px;
    line-height: 150%;
    padding: 2rem 5rem;
    width: 53rem;
}

h2 {
    color: #1c1c1c;
    display: flex;
    flex-wrap: wrap;
    font-family: inconsolata;
    font-size: 2rem;
    justify-content: center;
    padding: 3rem 1rem 2rem 1rem;

}

h3 {
  color: #1C1C1C;
  font-family: inconsolata;
  font-size: 1.6rem;
  padding-bottom: 4rem;
}

p {
  color: #1c1c1c;
  display: flex;
  flex-wrap: wrap;
  font-family: inconsolata;
  font-size: 1.6rem;

  line-height: 130%;
  margin: 0 auto;
  padding: 3rem 1rem 0rem 1rem;
  width: 70%;
}


a {
  color: #1c1c1c;
  font-family: inconsolata;
  font-size: 2rem;
  padding: 0 1.5rem;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #E35846;
}


/* End Typography */





/* Case Study Specific */



.process{
  margin: 0 auto;
  padding: 0;
}

header img{
  margin: 0 auto;
  padding-top: 3rem;
  width: 70%;
}

.designer-brief {
  background: white;
  border-style: solid;
  border-width: 0.5px;
  border-color: #E35846;
  justify-content: center;
  padding: 0 auto;
  text-align: center;
}

.designer-brief p{
  padding-top: 3rem;
}

.probsol{
  border-style: solid;
  border-bottom-width: 0.5px;
  border-color: #E35846;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
}


.figure {
  background: white;
  border-style: solid;
  border-width: 0.5px;
  border-color: #E35846;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 0 auto;
  text-align: center;
  width: 80%;
}

.figure img{
  border: none;
  padding: 0 2rem;
  margin: 2rem;
  width: 60%;
}

.wireframes {
  background: white;
  border-style: solid;
  border-width: 0.5px;
  border-color: #E35846;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 0 auto;
  text-align: center;
  width: 80%;
}

.wireframes img{
  border-style: solid;
  border-width: 0.5px;
  border-color: #1c1c1c;
  margin: 2rem 3rem;
  width: 40%;
}


.mockups {
  background: white;
  border-style: solid;
  border-width: 0.5px;
  border-color: #E35846;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  width: 80%;
}

.mockups img{
  border: none;
  padding: 1rem 4rem ;
  margin: 0 auto;
  width: 60%;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10% 5%;
    text-align: center;

}

footer ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

footer li {
  padding: 0 1.5rem;
}

    @media screen and (max-width: 1024px) {
    header.mdl-layout__header {
        width: 80%;
    }


}
