

* {
  box-sizing: border-box;  
}

html {
    font-size: 10px;
}

body {
    background-color: #FFF9F9;
    margin: 0 auto;
    padding-bottom: 5rem;
}

.container {
    margin: 0 auto;
    width: 80%;
} 

.banner {
    background-color: whitesmoke;


}

.banner h1, p{
    color: black;

    text-align: center;
}

header {
    background: white;
    height: 60vh;
    justify-content: center;
    text-align: center;
}

h1 {
    font-weight: bold;
    color: #1c1c1c;
}



    @media screen and (max-width: 1024px) {
    header.mdl-layout__header {
        width: 80%;
    }


}    